* {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

ion-menu-button {
  --color: "dark";
}

.chart {
  width: auto;
}

.a-link {
  text-decoration: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-border {
  border: solid 1px #c5c5c5;
  border-radius: 10rem;
  height: 56px;
}

.action-footer {
  padding:2%;
  margin:3%;
  width:90%;
}

ion-content {
	--background: linear-gradient(180deg, #FFDE7C 10%, #ffb500 100%);
}

.nice-btn {
  --border-radius: 10rem;
  --color: #FFFFFF;
  --background-hover: #ffd149;
  --background-activated: #ffd149;
}

.btn-red {
  --background: rgb(255, 130, 88) !important;
  --background-hover: #ff7749;
  --background-activated: #ff7749;
}

.bg-img {
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  min-width: fit-content;
  width: 90vw;
  max-width: 600px;
  position: relative;
}

.center1 {
  position: absolute;
  text-align: center !important;
}

.checkbox-item {
  --background-activated : #ffd149 !important;
  --background-hover: #ffd149 !important;
  --color-activated: #ffd149 !important;
  --ripple-color: #ffd149 !important;
  border-radius: 10rem;
  text-align: center;
  vertical-align: middle;
}

input:-webkit-autofill:-webkit-autofill {
  box-shadow: 0 0 0 30px rgb(232, 240, 254) inset !important;
  -webkit-text-fill-color: rgba(70, 90, 126);
  height: 56px;
  border-radius: 10rem;
}

hr {
  border: 0px solid #c5c5c5 !important;
  height: 1px !important;
  width: 85% !important;
  background: #c5c5c5 !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

ion-title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

ion-toolbar {
  --ion-toolbar-background-color: transparent;
  --ion-toolbar-text-color: white;
}

ion-button {
  text-transform: none;
}

.center2 {
  left: 50%;
  transform: translate(-50%, -0%);
  text-align: center; 
  width: fit-content
}

.label {
  padding: 10px;
}

ion-title {
  text-align: center;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}

ion-list {
  --ion-background-color: transparent !important;
  --ion-border-color: transparent !important;
  }

.label-text {
  color: rgb(255, 222, 124) !important;
  text-transform: uppercase;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
}

.bg-img2 {
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  /* min-width: fit-content; */
  /* width: 90vw; */
  /* max-width: 600px; */
  position: relative; 
}

.progress {
	display: flex;
	height: 1rem;
	overflow: hidden;
	line-height: 0;
	font-size: .75rem;
	background-color: #eaecf4;
	border-radius: .35rem
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #4e73df;
	transition: width .6s ease
}

.progress-sm {
	height: .5rem
}

mr-2 {
	margin-right: .5rem!important
}

.bg-info {
	background-color: #FFDE7C!important
}

ion-toggle {
  width: 60px;
  height: 30px;
  --handle-spacing: 4px;
  --handle-height: 80%;
  --handle-width: 40%;
  --border-radius: 15px 15px 15px 15px
}